{% extends 'base.html' %}


{% block main %}

<h1 class="page-header">User Profile</h1>


<ul class="flashes">
            
            
            {% if users|length > 0 %}
                {% for user in users %}
                    
                    <a href="{{ url_for('user', userid = user.get_id() ) }}"> <li> User-ID: {{ user.userid }}  Name: {{ user.first_name }}  {{ user.last_name }}  </li> </a> </br> 
                {% endfor %}
            {% else %}
                <li>No File Uploaded</li>
            {% endif %}
            
            
            
        </ul>




{% endblock %}